<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.41">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.9.0"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.9.0">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.93">
    <script>pipeline {
    environment {
        doError = &apos;1&apos;
    }
    agent { node { label &apos;master&apos; } }
    stages {
        stage(&apos;Error&apos;) {
            when {
                expression { doError == &apos;1&apos; }
            }
            steps {
                sh &apos;&apos;&apos;
                echo &quot;Failure&quot;
                exit 1
                &apos;&apos;&apos;
            }
        }
        stage(&apos;Success&apos;) {
            when {
               expression { doError == &apos;0&apos; }  
            }
            steps {
                sh &apos;&apos;&apos;
                echo &quot;ok&quot;
                &apos;&apos;&apos;
            }
        }
    }
    post {
        always {
        slackSend color: &apos;#BADA55&apos;, channel: &apos;#jenkins-job-notification&apos;, message: &quot;&quot;&quot;${currentBuild.currentResult}: Stage: ${env.STAGE_NAME} Job ${env.JOB_NAME} build ${env.BUILD_NUMBER}
        More info at: ${env.BUILD_URL}
        &quot;&quot;&quot;                   
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>